* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}



.container {
    width: 100%;
    height: 500px;
}


/*Navbar css*/
.container {
    width: 100%;
    height: 500px;
}

 header {
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 9999;
} 

header img {
    float: left;
    padding: 34px;
}

menu {
    float: left;
    margin: 46px 0 0 45px;
}



nav ul li {
    float: left;
    list-style: none;
  
}

nav ul li a {
    margin-right: 90px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #BDC581;
}

nav li a:hover {
    color: #BDC581;
    transition: 0.5s ease;
}
nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    float: none;
    position: relative;
    transition-delay: 1s ;
}

nav ul ul li a {
    display:block;
    background: white;
    text-align:left; 
    line-height: 60px;
}

/*Kanan Navbar CSS*/
.contact img {
    float: right;
    width: 15px;
    margin: 47px 12px 0 0;
}

.contact p {
    float: right;
    padding: 5px 10px 5px 0;
    
    margin-top: 42.5px;
    margin-right: 15px;
  
}

.sosmed img {
    float: right;
    width: 15px;
    margin: 47.5px 20px 0 0;
}

.search {
    float: right;
    height: 110px;
    width: 80px;
    background-color: #BDC581;
}

.search img {
    width: 25px;
    margin: 42px 0 0 30px;
}

/*Gambar Galery*/
.gambargalery img{
    width: 100%;
  
    height: 600px;
}


/* Judul galeri */
.judulgaleri
{
    width: 100%;
   
    float: left;
    position: absolute;
    top: 200px;
}

/*Judul Galeri*/

.judulgambar h3 
{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-style: italic;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
    line-height: 5;
    margin-top: -500px;

}


.judulgambar p {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -210px;
    font-size: medium;
    color: white;
    margin-bottom: 10px;
}

.container .judulgambar button {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    margin-left: 720px;
    padding: 15px;
    background: brown;
    color : white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}


.judulgambar button:hover {
    background-color: #EAB543;
    color : black;
}

.container .judulgambar img{
    width: 1500px;
    height: 250px;

}

/*Content 1*/
.container .content1 {
    width: 100%;
    height: 125px;
    background-color: #BDC581;
    color: black;
    float: left;
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: 12px;
}

.container .content1 h6 {
    float: left;
    margin-top: 60px;
    margin: 20px;
    margin-right: 100px;
    margin-left: 110px;
    margin: auto;
}

 .container .content1 input {
    float: left;
    background-color: transparent;
    padding: 15px;
    margin: 45px;
    color: white;
    margin: auto;

}

.container .content1  button {
    float: left;
    background-color: #EAB543;
    padding: 15px;
    margin: 45px;
    color: black;
    margin: auto;
}

.container .judulconten2 {
    width: 100%;
    margin: auto;
    margin-top: -400px;
}

.container .judulconten2 h3 {
    text-align: center;
    margin-top: 80px;
}

.container .judulconten2 p {
    text-align: center;
}

/*Destination Populer*/
/*Destination*/
.destination{
    width: 100%;
    padding: 150px 0;
    background-color: white;
}

.destination .galerikonten{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -120px;
}

.destination .galerikonten h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.destination .galerikonten > p{
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
    }

.destination .galeri{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
}

.destination .galeri .konten{
    position: relative;
    width: 314px;
    height: 236px;
}

.destination .galeri .konten img{
    width: 314px;
    height: 236px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
}

.destination .galeri .konten .keterangan{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.destination .galeri .konten .keterangan p{
    font-size: 20px;
    padding-bottom: 25px;
    color: white;
}

.destination .galeri .konten .keterangan a{
    background-color: #BDC581;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
    margin-bottom: 22px;
}

.destination .galeri .konten .keterangan:hover p{
    color: #CAD3C8;
}

.destination .galeri .konten .keterangan:hover a{
    background-color: #CAD3C8;
}

.destination .galeri .konten:hover {
    margin-top: -10px;
    transition: 0.5s ease-out;
}


/*content 3 */
.container-s {
    width: 100%;
    height: 160px;
    background-image: url(./images/xnewsletter.png.pagespeed.ic.Cg612iEyJd.png);
    background-color: #BDC581;
    float: left;
    margin: auto;
    overflow: hidden;
    margin-right: 12px;
    
    
}

.content3 {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content3 .keterangan {
    display: flex;
    flex-direction: column;
}

.container-s .content3 h6 {
 
    font-size: medium;
    color: whitesmoke;
    font-size: 23px;
}

.container-s .content3 p {
    font-size: 13px;
}

 .container-s .content3 input {
    float: left;
    background-color: transparent;
    padding: 15px;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    

}

.container-s .content3-isi {
    display: flex;
    flex-direction: column;
}

.container-s .subscribe {
    padding: 15px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;


}

.container-s button:hover {
    background-color: sandybrown;
}


/*Popular-place*/
.popular-place{
    width: 100%;
    padding: 150px 0;
    background-color: white;
    margin-top: -90px;
}

.popular-place .galerikonten{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-place .galerikonten h3{
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.popular-place .galerikonten > p{
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
    }

.popular-place .galeri{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
}

.popular-place .galeri .konten{
    position: relative;
    width: 314px;
    height: 236px;
}

.popular-place .galeri .konten img{
    width: 314px;
    height: 236px;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
}

.popular-place .galeri .konten .keterangan{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.popular-place .galeri .konten .keterangan p{
    font-size: 20px;
    padding-bottom: 25px;
    color: white;
}

.popular-place .galeri .konten .keterangan a{
    background-color: #BDC581;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
    margin-bottom: 22px;
}

.popular-place .galeri .konten .keterangan:hover p{
    color: brown;
}

.popular-place .galeri .konten .keterangan:hover a{
    background-color: brown;
}



/*Tombol More Place*/
.tombol {
    padding: 10px; 
    display:flex; 
    justify-content:center;
    margin-top: 130px;
   
}

.tombol button {
    padding: 30px;
    background: brown;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.tombol button:hover {
    color: black;
    background: #BDC581;
}




/*bawah video*/
.bawahvideo{
    width: 100%;
    height: 400px;
    margin-bottom: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bawahvideo .containervidd{
    width: 1000px;
    margin: auto;
    height: 300px;
}
.bawahvideo .bag1{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 110px;
    margin-top: 50px;
}

.bawahvideo .containervidd .bag1 img {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 40px;
}

.bawahvideo .containervidd .bag1 h5  {
    text-align: center;
}

.bawahvideo .containervidd .bag1 p  {
    text-align: center;
}

/*Profile*/
.profile {
    margin-top: -220px; 
    background: #BDC581;
    margin-bottom: 200PX;
}

.profile .container {
    display: flex; 
    justify-content:center; 
    align-items:center; 
    margin-top: -100px; 
    width: auto; 
    margin: auto;
    height: 250px;
}

.profile .container img {
    width: 200px;
    height: 200px;
}

.profile  p {
    text-align: center;
    color: white;
}


/*Recent Trips*/
.recent{
    width: 100%;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -110px;
    display: flex;
    justify-content: center;

}
.recent .fotorec{
    width: auto; height: auto;
    float: left;
    margin-bottom: 30px; margin-top: 40px;
    margin-left: 180px;
    margin-right: -95px;
}
.recent .fotorec img{
    width: 350px;
    height: 400px;
    border: none; border-radius: 7px;
    margin-top: 50px;
}
.tulisan p{
    margin-top: -150px;
    font-size: 30px; font-family: verdana;
    text-align: center;
}
.recent .fotorec p{
    font-size: 12px; color: rgb(156, 156, 156);
    text-align: left;
    margin-top: 20px; margin-bottom: 30px;

}
.recent .fotorec h5{
    margin-top: 15px;
     font-size: 15px; 
     font-family: verdana;
 }



/*footer*/
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    justify-content: center;
    background: #BDC581;
    text-decoration: none;
    color: white;
}

footer img {
    width: 50px;
    height: 50px;
}

.foot1 h1 {
    float: left;
    margin-top: 8px;
    font-size: 30px;
}

.foot1 img{
    margin-top: 50px;
    margin-right: 3px;
    width: 30px;
    height: 30px;
    float: left;
}


.foot1 p {
    width: 200px;
    margin-top: 50px;
}

.foot1 a {
    color: white;

}

.foot1 .logo2 {
    margin-top: 45px;
}

.foot1 a:hover {
    color: brown;
}

.foot2 {
    margin-left: 90px;
    width: 160px;
    /* border: 1px solid red; */
}

.foot2 li {
    color: white;
    width: 150px;
    /* border: 2px solid red; */
    list-style: none;
    padding: 5px 0 5px 10px;
}

.foot2 h1 {
    margin-top: 50px;
}

.foot2 li  {
    margin-bottom: 40px;
    margin-top: -30px;
}

.foot2 a:hover {
    color: brown;
}

.foot3 {
    margin-left: 90px;
    /* border: 1px solid red; */
    width: 300px;
}

.foot3 h1 {
    padding: 45px;

}

.foot3 li {
    color: black;
    width: 150px;
    /* border: 2px solid red; */
    list-style: none;
    padding: 5px 0 5px 10px;
    width: 130px;
    float: left;
    list-style: none;
}

.foot1 a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.foot2 li a {
    color: white;
}

.foot2 a {
    text-decoration: none;
}

.foot3 a {
    list-style: none;
    text-decoration: none;
}

.foot3 li {
    color: white;
}

.foot3 a:hover {
    color: blue;
}

.foot4 {
    margin-top: 45px;
    position: relative;
    display: inline;
}

.foot4  a img {
    margin-top: 23px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.foot3 a {
    color: white;
}


